@model MaintMan.SetMaintenanceModeRequest

@{
    ViewBag.Title = "Set Maintenance Mode";
}

<section>
    <header>
        <a name="finding"><h2>Finding Your App's Create Build URL</h2></a>
    </header>
    <p>Your AppHarbor app's Create Build URL is on its management page at appharbor.com. You will need to click the show/hide link next to the Create build URL label (see images below).</p>
    <a href="../content/finding_1.png"><img src="../content/finding_1.png" class="docs" /></a>
    <a href="../content/finding_2.png"><img src="../content/finding_2_small.png" class="docs" /></a>
</section>