@{
    ViewBag.Title = "Set Maintenance Mode";
}

<section>
    <header>
        <h2>Turn Maintenance Mode Off</h2>
    </header>
    <p>To turn maintenance mode off, simply go to your AppHarbor application's management page, look for the Build section, and then click the Deploy link for the version you want to re-deploy. Or, just push a new version of your app, which will start a new build, replacing the maintenance mode page.</p>
    <a href="../content/redeploy.png"><img src="../content/redeploy_small.png" class="docs" /></a>
</section>